doctype html
html
    head
        title Clínica Médica - Salud Integral
    body
        h1 Clínica Médica - Salud Integral
        h2 Gestión de Historias Clínicas
        br
        ul
            li
                a(href="/historias/buscarHistoria") Búsqueda de Historia Clínica
            li
                a(href="/historias/nuevaHistoria") Alta de nueva Historia Clínica
            li
                a(href="/historias") Volver al Menú de Gestión de Historias Clínicas
        br

        h3 Búsqueda de Historia Clínica

        if error
            p(style="color:red")= error
        //- Formulario de búsqueda por DNI
        form(method="GET", action="/historias/buscarHistoria")
            label(for="dni") Buscar paciente por DNI:
            input(type="text", name="dni", id="dni", value=dniBusqueda)
            button(type="submit") Buscar

        br

        if paciente
            h2 Datos del Paciente
            p
                strong Paciente: #{paciente.nombre} #{paciente.apellido}
            p DNI: #{paciente.dni}
            p Fecha de Nacimiento: #{paciente.fechaNacimiento}

            if historia
                h2 Historia Clínica Encontrada
                p Fecha Creación: #{historia.fechaCreacion}
                p Observaciones: #{historia.observaciones}
                
                h3 Alergias
                ul
                    each alergia in historia.alergias
                        li #{alergia}
                
                h3 Medicamentos Actuales
                ul
                    each med in historia.medicamentosActuales
                        li #{med.nombre} - #{med.dosis} - #{med.frecuencia}
                
                h3 Antecedentes
                    ul
                        if historia.antecedentes.familiares && historia.antecedentes.familiares.length > 0
                            li Familiares: #{historia.antecedentes.familiares.join(", ")}
                        if historia.antecedentes.personales && historia.antecedentes.personales.length > 0
                            li Personales: #{historia.antecedentes.personales.join(", ")}
                        if historia.antecedentes.quirurgicos && historia.antecedentes.quirurgicos.length > 0
                            li Quirúrgicos: #{historia.antecedentes.quirurgicos.join(", ")}
                
                br

                //- Acción de Edición
                a(href=`/historias/editarHistoria?dni=${paciente.dni}`) 
                    button(type="button") Editar Historia Clínica
                
            else
                //- Si el paciente existe pero no hay historia, alta
                h2 No hay Historia Clínica Registrada
                p Para crear la historia clínica inicial, haga click aquí:
                    a(href=`/historias/nuevaHistoria?dni=${paciente.dni}`)
                        button(type="button") Crear Historia Clínica